extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      //-p !{genre._id}
      label(for='name') Genre:
      input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre ? '' : genre.name))
      //- or use required validation check:
      //-input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' value=(undefined===genre ? '' : genre.name), required='true' )
      //- Render sample:
      //-<input id="name" class="form-control" placeholder="Fantasy, Poetry etc." name="name" value="" type="text">

    button.btn.btn-primary(type='submit') Submit
    //-<button class="btn btn-primary" type="submit">Submit</button>
  if errors 
    ul
      for error in errors
        li!= error.msg
        //-e.g. errors.array() -> Array(1) [Object] -> Array()[0] [Object] -> Object {location: "body", param: "name", value: "", msg: "Genre name required"}
        //- != is unescaped assignment and = is escaped assignment special char > escaped as &lt escape sequence.