//-extends layout

//-block content

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
  body
    h1=title
    //- directly use input data property:
    //-p.form-control(id='statinf')!= status
    //- or use thru pug variabe:
    - var stat = status
    p.form-control(id='statinf')!= stat

    form(method='POST' action='')
      div.form-group
        label(for='status') Status:
        //-select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        if status === 'Available'
          select#status.form-control(type='select' placeholder='Select status' name='status')
            option(value='Maintenance') Maintenance
            option(value='Available' selected) Available
            option(value='Loaned') Loaned
            option(value='Reserved') Reserved
            option(value='Undefinded') Undefinded
            //-p!= status
        else if status === 'Maintenance'
          select#status.form-control(type='select' placeholder='Select status' name='status')
            option(value='Maintenance' selected) Maintenance
            option(value='Available') Available
            option(value='Loaned') Loaned
            option(value='Reserved') Reserved
            option(value='Undefinded') Undefinded
        else if status === 'Loaned'
          select#status.form-control(type='select' placeholder='Select status' name='status')
            option(value='Maintenance') Maintenance
            option(value='Available') Available
            option(value='Loaned' selected) Loaned
            option(value='Reserved') Reserved
            option(value='Undefinded') Undefinded
        else if status === 'Reserved'
          select#status.form-control(type='select' placeholder='Select status' name='status')
            option(value='Maintenance') Maintenance
            option(value='Available') Available
            option(value='Loaned') Loaned
            option(value='Reserved' selected) Reserved
            option(value='Undefinded') Undefinded
        else
          select#status.form-control(type='select' placeholder='Select status' name='status')
            option(value='Maintenance') Maintenance
            option(value='Available') Available
            option(value='Loaned') Loaned
            option(value='Reserved') Reserved
            option(value='Undefinded' selected) Undefinded
          //-p!= 'not defined'

      button.btn.btn-primary(type='submit') Submit

    script.
      function setSelect(elemId) {
        let statInfo = document.getElementById(elemId);
        console.log('status set ' + statInfo.innerText);
        let select = document.getElementById('status');
        // return the index of the selected option
        console.log(select.selectedIndex);
        // return the value of the selected option
        console.log(select.options[select.selectedIndex].value);
      }
      setSelect('statinf');

    if errors 
      ul
        for error in errors
          li!= error.msg